body {
    font-family: "Open Sans", sans-serif;
}
.product-card {
    position: relative;
    overflow: hidden;
    border: none;
    transition: all 0.3s ease-in-out;
    border: 1px solid #eee;
}

.product-card img {
    width: 100%;
    height: 200px;
    display: block;
    object-fit: cover;
    border-radius: 6px 6px 0 0;
}

.product-actions {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    background: #22a3a4;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 6px 0;
    transition: bottom 0.4s ease-in-out;
}

.product-card:hover .product-actions {
    bottom: 60px;
}

.product-actions a {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 6px;
    transition: color 0.3s ease;
}

.product-actions a:hover {
    color: #fff;
}

@media (max-width: 768px) {
    .product-actions {
        display: none !important;
    }
    .quick-add-to-cart-btn {
        font-size: 10px !important;
    }
    .quick-buy-now-btn {
        font-size: 10px !important;
    }
}
.product-info {
    margin: 10px;
}

.product-name {
    font-size: 14px;
    margin-bottom: 4px;
    text-align: left;
    color: #000;
    font-weight: bold;
}
.product-name:hover {
    color: #22a3a4;
}

.product-price {
    font-size: 16px;
    color: #000;
    text-align: left;
    font-weight: bold;
}

.old-price {
    text-decoration: line-through;
    color: #999;
    margin-right: 5px;
}

.rating {
    color: #ffc107;
    font-size: 18px;
    text-align: right;
}
.ad-banner-box {
    position: relative;
    overflow: hidden;
    height: 100%;
    min-height: 300px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    color: #fff;
    padding: 20px;
}

.ad-banner-box .content {
    position: relative;
    z-index: 2;
}

.ad-banner-box::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
}

.ad-banner-box h3 {
    font-weight: bold;
    margin-bottom: 5px;
}

.ad-banner-box a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

.countdown-section h5 {
    color: #21a099;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: "Open Sans", sans-serif;
}

.countdown-section h2 {
    font-weight: 700;
    margin-bottom: 40px;
    font-family: "Open Sans", sans-serif;
}

.countdown-timer {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.countdown-item h1 {
    font-size: 80px;
    font-weight: 600;
    color: #8d7d97;
    margin-bottom: 10px;
}

.countdown-item span {
    display: block;
    font-size: 18px;
    font-weight: 500;
    color: #6c6c6c;
}

.shop-btn {
    background-color: #22a3a4;
    border: none;
    color: white;
    padding: 12px 35px;
    font-size: 18px;
    border-radius: 8px;
    transition: 0.3s;
    font-family: "Open Sans", sans-serif;
}

.shop-btn:hover {
    color: #fff;
    background-color: #22a3a4;
}

@media (max-width: 768px) {
    .countdown-item h1 {
        font-size: 50px;
    }
}

.category-product-secname {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    text-align: center;
}

#slider button.owl-prev {
    position: absolute;
    top: 40%;
    left: 0;
    font-size: 30px !important;
    background: rgba(255, 0, 0, 0.119) !important;
    width: 38px;
    height: 38px;
    color: red;
    border-radius: 50%;
    border: 1px solid red;
}
#slider button.owl-next {
    position: absolute;
    top: 40%;
    right: 0;
    font-size: 30px !important;
    background: rgba(255, 0, 0, 0.119) !important;
    width: 38px;
    height: 38px;
    color: red;
    border-radius: 50%;
    border: 1px solid red;
}
#slider button.owl-prev:hover,
#slider button.owl-next:hover {
    color: red !important;
}

.feature-section {
    width: 100%;
    padding: 20px 0;
    margin: 0;
}

.features-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 15px;
    flex-wrap: wrap;
    width: 100%;
}

.feature-box {
    flex: 1;
    min-width: 200px;
    border: 1px solid #f8d7da;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    background: #fff;
    transition: 0.3s;
}

.feature-box:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
}

.icon-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fdeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 30px;
    color: red;
}

.feature-title {
    font-weight: 600;
    color: red;
    margin-top: 15px;
    font-size: 18px;
}

.feature-text {
    color: #555;
    font-size: 15px;
    margin-top: 5px;
}

.quick-add-to-cart-btn {
    color: #fff;
    border: 1px solid red;
    color: red;
    font-size: 12px;
    font-weight: bold;
    padding: 8px;
    width: 100%;
    margin-left: 8px;
    border-radius: 5px;
}
.quick-add-to-cart-btn:hover {
    color: #fff;
    border: 1px solid red;
    color: red;
    font-size: 12px;
    font-weight: bold;
    padding: 8px;
    width: 100%;
    margin-left: 8px;
    border-radius: 5px;
}

.quick-buy-now-btn {
    font-size: 12px;
    font-weight: bold;
    padding: 7px;
    margin-left: 8px;
    border-radius: 5px;
    color: #fff;
    background: red;
    text-decoration: none;
    margin-top: -1px !important;
}
.quick-buy-now-btn:hover {
    font-size: 12px;
    font-weight: bold;
    padding: 7px;
    margin-left: 8px;
    border-radius: 5px;
    color: #fff;
    background: red;
    text-decoration: none;
}
.sale-discount-badge {
    position: absolute;
    right: 8px;
    top: 8px;
    background: red;
    padding: 2px 10px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    border-radius: 8px;
}

.product-btn-wrap {
    display: flex;
    padding: 6px;
    background: #fff;
    border-top: 1px solid #eee;
}

.product-btn-wrap .btn {
    width: 50%;
    height: 35px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 12px;
    text-align: center;
    line-height: 1;
}


@media (max-width: 576px) {
    .product-btn-wrap .btn.quick-add-to-cart-btn,
    .product-btn-wrap .btn.quick-buy-now-btn {
        font-size: 10px !important;
        line-height: 1 !important;
        padding: 0;
    }
}
